<a [routerLink]="['/gallery']"><h3>Upload again!</h3></a>
<!-- Carta principal -->
<mat-card class="example-card">
  <!-- Fila de nombre -->
  <mat-card-header>
    <mat-card-title>{{gallery[0].imageTitle}}</mat-card-title>
  </mat-card-header>
  <!-- Imagen -->
  <img mat-card-image src="{{gallery[0].imageUrl}}" alt="Photo of a Shiba Inu">
  <!-- Descripción-->
  <mat-card-content>
    <p>{{gallery[0].imageDesc}}</p>
  </mat-card-content>
</mat-card>
<br>
<mat-card class="example-card">
    <!-- Fila de nombre -->
    <mat-card-header>
      <mat-card-title>{{gallery[1].imageTitle}}</mat-card-title>
    </mat-card-header>
    <!-- Imagen -->
    <img mat-card-image src="{{gallery[1].imageUrl}}" alt="Photo of a Shiba Inu">
    <!-- Descripción-->
    <mat-card-content>
      <p>{{gallery[1].imageDesc}}</p>
    </mat-card-content>
  </mat-card>
