<a [routerLink]="['/gallery']"><h2>Upload again!</h2></a>
<!-- Carta principal -->
<div id=documento *ngFor="let element of gallery">
  <mat-card class="example-card" style="float: left;width: 40%;margin: 10px;height: 300px;">
    <!-- Fila de nombre -->
    <mat-card-header >
      <mat-card-title>{{element.imageTitle}}</mat-card-title>
    </mat-card-header>
    <!-- Imagen -->
    <img mat-card-image src="{{element.imageUrl}}" alt="Photo of a Shiba Inu" style="height: 75%;" >
    <!-- Descripción-->
    <mat-card-content>
      <p>{{element.imageDesc}}</p>
    </mat-card-content>
  </mat-card>
</div>
